body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 18px;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
  html {
    font-size: 13px;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  html {
    font-size: 14px;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ffff;
}

#search::-webkit-search-cancel-button{
  position:relative;
  right:12px;   
}